<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cafe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Nointernet"></activity>
        <activity
            android:name=".History.IteamHistory"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".FoodList.Food"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity android:name=".OrderList.OrderIteam" />
        <activity
            android:name=".Registration.Registration"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ButtomNavgation"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_buttom_navgation" />
        <activity
            android:name=".Splashscreen.SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>